<div class="center hero-unit">
  <h1>
    The Legal Utility
  </h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %><br><br>
   <%= link_to "Already a User? Sign in now", signin_path, class: "btn btn-large btn-primary" %>
</div>