<div class="center hero-unit">
  <% if userSignedIn? %>
      <%= render "home_signedin" %>
<% else %>
      <h1>
    LUtility
  </h1>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %><br><br>
   <%= link_to "Already a User? Sign in now", signin_path, class: "btn btn-large btn-primary" %>
   <% end %>
          </div>