<div class="row">
  <div class="span4">
    <%= f.label :street_address %>
  </div><div class="span8">    <%= f.text_field :street_address %>
</div></div>

<div class="row">
  <div class="span4">
    <%= f.label :city_state_zip %>
  </div><div class="span8">
  <%= f.text_field :city_state_zip %>
</div></div>
