<% if @company.documents.empty? %>

    <p>No documents uploaded yet</p>
<% else %>
    <ul>
      <% @company.documents.each do |obj| %>
          <li><%= link_to obj.name, company_document_path(@company,obj) %></li>
      <% end %>
    </ul>

<% end %>

<%= render partial: "documents_to_process", locals: {documents: @company.documents} %>

