<div class="row-fluid">
  <div class="span12 shadow">
<h2><%= company.name %></h2>
<div style="margin-left: 15px">
  <i class="icon-file"></i><a href="">Certificate of Incorporation</a>
  <i class="icon-file"></i><a href="">Bylaws</a>
  <br><br>
  <div class="row-fluid">
    <div class="span6">
      Directors
      <ul class="unstyled">
        <li><i class="icon-user"></i><a href="">Jeff Laretto</a></li>
        <li><i class="icon-user"></i><a href="">Ben Carver</a></li>
      </ul>
    </div>
    <div class="span6">
      Officers
      <ul class="unstyled">
        <li><i class="icon-user"></i>President (<a href="">Jeff Laretto</a>)</li>
        <li><i class="icon-user"></i>Secretary (<a href="">Ben Carver</a>)</li>
      </ul>
    </div>
  </div>
  Critical Documents
  <ul class="unstyled">
    <li><i class="icon-file"></i><a href="">Investor Rights Agreement</a></li>
    <li><i class="icon-file"></i><a href="">Voting Agreement</a></li>
  </ul>

  Capitalization Snapshot
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Class</th>
      <th>Authorized</th>
      <th>Issued</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Common</td>
      <td>10,000,000</td>
      <td>7,000,000</td>
    </tr>
    <tr>
      <td>Preferred</td>
      <td>2,000,000</td>
      <td>2,000,000</td>
    </tr>
    <tr>
      <td>2011 Equity Plan</td>
      <td>1,000,000</td>
      <td>500,000</td>
    </tr>
    </tbody>

  </table>
</div>
​</div>
</div>