<div class="center-hero-unit">
  <div class="row-fluid">
    <div class="span7 bdr">
      <%= render partial: 'company_detail', locals: {company: @company}  %>
    </div>

    <div class="span5 bdr">
      <%= render 'company_status_updates' %>
      </div>
    </div>

  </div>
</div>​
