<h1>Post Signup Wizard</h1>
<h2>Please enter Founders Details:</h2>
<div id="thumbs">
<ul class="thumbnails">
<% current_user.active_company.people.each do |p| %>
    <%= render :partial => "person_thumbnail", :locals => { :person => p } %>
<%	end  %>
</div>

<%= simple_form_for(@person, url: wizard_path, method: :put, :html => { :class => 'well form-horizontal' }) do |f| %>
   <%= render partial: 'person_form', locals: { f: f } %>
    <%=  link_to "Next Step",next_wizard_path, class: "btn btn-small btn-primary"  %>
<% end %>

</ul>
<br />