<h1>Post Signup Wizard</h1>
<h2>Please enter your Details:</h2>
<%= simple_form_for(@person, url: wizard_path, method: :put, :html => { :class => 'well form-horizontal' }) do |f| %>
    <%= render partial: 'person_form', locals: { f: f } %>
<% end %>
