@import "bootstrap";


body {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/*initial Cap*/
th.shares
{
  width: 200px
}

th.percent_column
 {
   width: 80px
 }

th.radio
{
  width: 50px
}

td.shares
{
  width: 200px
}

td.percent_column
{
  width: 80px
}

td.radio
{
  width: 50px
}