@import "bootstrap";


th.shares
{
  width: 200px
}

th.percent_column
 {
   width: 80px
 }

th.radio
{
  width: 50px
}

td.shares
{
  width: 200px
}

td.percent_column
{
  width: 80px
}

td.radio
{
  width: 50px
}